{:deps {io.github.borkdude/quickblog
        {:git/sha "d00e14b1176416b7d7b88e6608b6975888208355"}}
 :tasks
 {:requires ([quickblog.cli :as cli])
  :init (def opts {:about-link "https://github.com/hughpowell"
                   :blog-title "Opinionated Musings, mostly about software (probably)"
                   :blog-description "Ramblings about software and anything else that comes to mind"
                   :blog-author "Hugh Powell"
                   :blog-root "https://blog.hughpowell.net"
                   :twitter-handle "HughAPowell"})
  quickblog {:doc "Start blogging quickly! Run `bb quickblog help` for details."
             :task (cli/dispatch opts)}}}
